.product-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: baseline;
  margin: 2rem 5rem 5rem;
  width: 80%;
  align-self: center;
  justify-self: center;
  align-items: center;
}