.cart-list{
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  margin-top:5rem;
  align-self: center;
  width: 50%;
  padding: 1rem;
  .card-title{
    font-weight: 500;
    font-size: 20px;
  }
  .auth-alert{
    font-size: 20px;
    .links{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      width: 50%;
      font-size: 16px;
    }
  }
}
