.Login {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 5rem;
  justify-content: space-around;
  width: 30%;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  .card-title {
      font-size: 24px;
      font-weight: 500;
  }
}