.product-item{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content{
    padding:20px;
    width: 90%;
    background-color: snow;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
  }
  .caption{
    font-weight: 300;
    font-size: 12px;
    color:grey;
  }
  .title{
    margin-right: 2em;
  }

}